fastapi==0.112.0
uvicorn==0.30.5
pydantic==2.10.4
SQLAlchemy==2.0.31
python-dotenv==1.0.1
requests==2.32.3
tensorflow==2.18.0
tf_keras==2.18.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.0
scipy==1.13.1
torch==2.5.1
transformers==4.47.1
sentence-transformers==3.3.1
huggingface-hub==0.27.0
tqdm==4.67.1
regex==2024.11.6
PyYAML==6.0.1
joblib==1.4.2
colorama==0.4.6
Pillow==11.1.0
